<app-cabecera>  </app-cabecera>


<div class="limiter">
    <div class="container-login100">
          
      
        <div class="row">
           
            <!--primero-->
            <div class="col-xs-12 col-sm-6 col-md-4">                 
            <div class="card">
            <div class="card-body text-center">
            <p>   <img  src="../../../assets/imagenes/inicio/rompecabezas.png"
             class="img-rounded center-block"></p>
            <h4 class="card-title">Juegos</h4>
            <br>
            <p class="card-text">Ingrese a los juegos disponibles y selecciones a cual desea jugar.
                <br><br>
            </p>
            <a id="boton"class="btn btn-primary btn-lg" routerLink="/Juegos" >Jugar  <i class="fa fa-gamepad"></i></a>
            </div>
            </div>
            </div>

            <!--Segundo-->
            <div class="col-xs-12 col-sm-6 col-md-4">                 
                <div class="card">
                <div class="card-body text-center">
                <p>   <img src="../../../assets/imagenes/inicio/lista-de-verificacion.png"
                 class="img-rounded center-block"></p>
                <h4 class="card-title">Listado de jugadores</h4>
                <br>
                <p class="card-text">Los listados de los resultados con ordenamiento y busqueda.
                </p>
                <br>
                <a id="boton" class="btn btn-primary btn-lg" routerLink="/Resultados">Listado  <i class="fa fa-list-alt"></i></a>
                </div>
                </div>
                </div>

                <!--tercero-->
            <div class="col-xs-12 col-sm-6 col-md-4">                 
                <div class="card">
                <div class="card-body text-center">
                <p>   <img src="../../../assets/imagenes/inicio/portapapeles.png"
                 class="img-rounded center-block"></p>
                <h4 class="card-title">Jugadores</h4>
                <br>
                <p class="card-text">Listado de jugadores
                <br> <br>  <br>                   
                </p>
                <a id="boton" class="btn btn-primary btn-lg" routerLink="/Jugadores" >Jugadores  <i class="fa fa-list-alt"></i></a>
                </div>
                </div>
                </div>
           
                 <!--cuarto
                <div class="col-xs-12 col-sm-6 col-md-3">                 
                    <div class="card">
                    <div class="card-body text-center">
                    <p>   <img src="../../../assets/imagenes/inicio/ajustes.png"
                     class="img-rounded center-block"></p>
                    <h4 class="card-title">Configuracion</h4>
                    <br>
                    <p class="card-text">Ajustes de la aplicacion y los métodos de autentificación.
                   <br>
                   <br>                      
                    </p>
                    <a id="boton" class="btn btn-primary btn-lg" routerLink="/Configuracion" >Configurar  <i class="fa fa-cogs"></i></a>
                    </div>
                    </div>
                    </div>-->

        </div>
        
    </div>
</div>

<!-- Footer 
<footer class="container-fluid bg-4 text-center">
  
    <p><a id="boton"class="btn btn-primary btn-lg" href="https://github.com/gregnaninl" >Gregnanin Leandro <i class="fa fa-github"></i></a></p> 
  </footer>
  -->