<div class="contenido" >

    <div class="container estilosContainer">
    <div class="titulo">
   <h1>SUMANDO 15</h1>
    
<h4> El juego del cuadro mágico consiste en acomodar ciertos números en el cuadrado 
    de tal forma que al hacer una sumatoria de cualquier fila, columna o cualquiera 
    de las 2 diagonales principales, el resultado sea 15.</h4>
    
</div>

<form>
    <br>

  <table class= "table ">
  <tr>
  <td>
   <img src="../../../assets/imagenes/juego/Img2.png" [hidden]="ocultarRespuesta" >
    <!--<input name="numero" id="numero1" type="text" required class="form-control" maxlength="2" size="number" > -->
    <input [(ngModel)]="this.numero1" placeholder="?" name="numeroIngresado" type="number" class="form-control" maxlength="2" [hidden]="!ocultarRespuesta" />
  </td>
  <td>
           <img src="../../../assets/imagenes/juego/Img7.png" [hidden]="ocultarRespuesta">
    <!-- <input name="numero" id="numero2" type="text" required class="form-control" maxlength="2" size="number" >-->
     <input [(ngModel)]="this.numero2" placeholder="?" name="numeroIngresado" type="number" class="form-control" maxlength="2" [hidden]="!ocultarRespuesta" />
    </td>
  <td>
         <img src="../../../assets/imagenes/juego/Img6.png" [hidden]="ocultarRespuesta" > 
  <!-- <input name="numero" id="numero3" type="text" required class="form-control" maxlength="2" size="number"> -->
   <input [(ngModel)]="this.numero3" placeholder="?" name="numeroIngresado" type="number" class="form-control" maxlength="2" [hidden]="!ocultarRespuesta"/>
  </td>
  </tr>
  <tr>
      <td>
             <img src="../../../assets/imagenes/juego/Img9.png"[hidden]="ocultarRespuesta" >
      <!--    <input name="numero" id="numero4" type="text" required class="form-control" maxlength="2" size="number"> -->
          <input [(ngModel)]="this.numero4" placeholder="?" name="numeroIngresado" type="number" class="form-control" maxlength="2" [hidden]="!ocultarRespuesta"/>
      </td>
      <td>
                 <img src="../../../assets/imagenes/juego/Img5.png" [hidden]="ocultarRespuesta" > 
      <!-- <input name="numero" id="numero5" type="text" required class="form-control" maxlength="2" size="number">-->
       <input [(ngModel)]="this.numero5" placeholder="?" name="numeroIngresado" type="number" class="form-control" maxlength="2" [hidden]="!ocultarRespuesta"/>
      </td>
      <td>
              <img src="../../../assets/imagenes/juego/Img1.png" [hidden]="ocultarRespuesta" >
       <!--  <input name="numero" id="numero6" type="text" required class="form-control" maxlength="2" size="number"> -->
         <input [(ngModel)]="this.numero6" placeholder="?" name="numeroIngresado" type="number" class="form-control" maxlength="2" [hidden]="!ocultarRespuesta"/>
      </td>
  </tr>
  <tr>
      <td>
              <img src="../../../assets/imagenes/juego/Img4.png" [hidden]="ocultarRespuesta" > 
      <!--  <input name="numero" id="numero7" type="text" required class="form-control" maxlength="2" size="number">-->
        <input [(ngModel)]="this.numero7" placeholder="?" name="numeroIngresado" type="number" class="form-control" maxlength="2" [hidden]="!ocultarRespuesta"/>
      </td>
      <td>
                     <img src="../../../assets/imagenes/juego/Img3.png" [hidden]="ocultarRespuesta" >
  <!-- <input name="numero" id="numero8" type="text" required class="form-control" maxlength="2" size="number">-->
   <input [(ngModel)]="this.numero8" placeholder="?" name="numeroIngresado" type="number" class="form-control" maxlength="2" [hidden]="!ocultarRespuesta"/> 
      </td>
      <td>
                <img src="../../../assets/imagenes/juego/Img8.png" [hidden]="ocultarRespuesta" > 
      <!-- <input name="numero" id="numero9" type="text" required class="form-control" maxlength="2" size="number"> -->
       <input [(ngModel)]="this.numero9" placeholder="?" name="numeroIngresado" type="number" class="form-control" maxlength="2" [hidden]="!ocultarRespuesta"/> 
      </td>
      </tr>
  
  
  </table>


  <br><br>


        <h2  [hidden]="ocultarNuevoJuego" ><button id="boton" (click)="NuevoJuego()" class="btn btn-success btn-lg">Nuevo Juego</button></h2>
        
            <h2  [hidden]="ocultarVerificar" ><button id="boton" (click)="consultar()" class="btn btn-success btn-lg">verificar </button></h2>
        
            <h2  [hidden]="!ocultarVerificar"><button  id="boton" (click)="MostrarResultado()"  class="btn btn-info btn-lg">Mostrar Resultado</button></h2>
         
            <h2 [hidden]="ocultarVerificar" ><p><i class="fa fa-spinner fa-spin"></i>Esperando numeros...</p></h2>
        
           <!-- <h3 [hidden]="!nuevoJuego.gano">usted adivino el número</h3>
            <h3   [hidden]="nuevoJuego.gano">usted aún no gano </h3>-->
        
        
        </form>
       
 <!-- <a id="boton" class="btn btn-primary btn-lg" (click)="Juego('Adivina')" >Jugar <i class="fa fa-gamepad"></i></a>-->
</div>
<div id="snackbar">{{Mensajes}}</div>
  </div>
