 
  
<nav class="navbar navbar-dark bg-dark">
        <a class="nav-item nav-link"  routerLink="/Inicio"  >
          <i class="fa fa-puzzle-piece"></i>
        </a>         
      <a class="navbar-brand nav-link" routerLink="/Inicio" >Sala de Juegos</a>
      <div class="navbar-expand mr-auto">
        <div class="navbar-nav">
          <a class="nav-item nav-link " routerLink="/Juegos">Juegos</a>
         <!-- <a class="nav-item nav-link" routerLink="/Listados">Listados</a>-->
          <a class="nav-item nav-link" routerLink="/Resultados">Listados Resultados</a>
       <!--   <a class="nav-item nav-link" >Configuración</a>-->
          <a class="nav-item nav-link" routerLink="/Jugadores">Listado de Jugadores</a>
        </div>
      </div>
      <div class="navbar-expand ml-auto navbar-nav">
        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="/QuienSoy">Quien Soy           
            </a>
           
           <!--      
          <a class="nav-item nav-link" routerLink="/Registro">Registrarse           
          </a>

              
          <a class="nav-item nav-link" routerLink="/Login">Ingresar</a>
        -->
          <a class="nav-item nav-link" href="https://github.com/gregnaninl/TP_LAV4_2018" target="_blank">
            <i class="fa fa-github"></i>
          </a>

          <!--<a class="nav-item nav-link" href="https://medium.com/@beeman" target="_blank">
            <i class="fa fa-medium"></i>
          </a>-->
        </div>
      </div>
    </nav>
  
    <!--

<div class="panel ">
  

  <div class="hero-text">

      <img src="./assets/imagenes/nombre.png" style="width:400px" >
      <h1 style="font-size:50px">Sala de Juegos</h1>
      <p>Octavio villegas</p>
      <a href="https://github.com/octaviovillegas"target="_blank">en GitHub <i class="fa fa-github"></i></a>
      <a  routerLink="/QuienSoy" >Quien Soy? <i class="fa fa-user"></i></a>
  </div>
<ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/Registro"><span class="glyphicon glyphicon-user"></span>Registrarse</a></li>
          <li><a  routerLink="/Login"><span class="glyphicon glyphicon-log-in"></span> Ingresar</a></li>
  </ul>



</div>-->