<div style="align-items: center;" >

  <table class= "table table-bordered">
  <tr>
  <td>
   <!-- <img src="/src/app/img/Img2.png" >-->
    <input name="numero" id="numero1" type="text" required class="form-control" maxlength="2" size="number" > 
  </td>
  <td>
      <!--     <img src="/src/app/img/Img7.png" >-->
     <input name="numero" id="numero2" type="text" required class="form-control" maxlength="2" size="number" >
  </td>
  <td>
         <!--<img src="/src/app/img/Img6.png" > -->
   <input name="numero" id="numero3" type="text" required class="form-control" maxlength="2" size="number"> 
  </td>
  </tr>
  <tr>
      <td>
         <!--     <img src="/src/app/img/Img9.png" >-->
          <input name="numero" id="numero4" type="text" required class="form-control" maxlength="2" size="number"> 
      </td>
      <td>
          <!--       <img src="/src/app/img/Img5.png" > -->
       <input name="numero" id="numero5" type="text" required class="form-control" maxlength="2" size="number">
      </td>
      <td>
         <!--      <img src="/src/app/img/Img1.png" >-->
         <input name="numero" id="numero6" type="text" required class="form-control" maxlength="2" size="number"> 
      </td>
  </tr>
  <tr>
      <td>
           <!--     <img src="/src/app/img/Img4.png" > -->
        <input name="numero" id="numero7" type="text" required class="form-control" maxlength="2" size="number">
      </td>
      <td>
                 <!--      <img src="/src/app/img/Img3.png" >-->
   <input name="numero" id="numero8" type="text" required class="form-control" maxlength="2" size="number"> 
      </td>
      <td>
          <!--       <img src="/src/app/img/Img8.png" > -->
       <input name="numero" id="numero9" type="text" required class="form-control" maxlength="2" size="number">  
      </td>
      </tr>
  
  
  </table>
  </div>
