.container {
    padding: 40px 16px;
  
   
}
#team{
    background-image: url('../../../assets/imagenes/juegos1.jpg');
    width: 100%;  
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
  
  
}

.titulo{
    margin: auto;
    padding: auto;
    padding-top: 10px;
    text-align: center;
    color: white;

}


form
{
    color: white;
    background-color: rgb(73, 73, 73);
    text-align: center;
    border: 5px solid black;
    padding:auto;
    margin: 0 auto;
    background-position: center;

}


.estilosContainer{
   /* background-color: lightblue;*/
    background-position: center;
    position: relative;
    -webkit-background-size : cover;
    -moz-background-size : cover;
    -moz-background-size : cover;
    background-size: cover;
    margin:1;
    padding:9%;
}


input[type=text] {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    /*background-color: #4CAF50;*/
    color: white;
    background-color: rgb(68, 4, 105);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid ;
    border-color:rgb(68, 4, 105);
    width: 75%;
}

button:hover {
    background: white;
    color: rgb(68, 4, 105) !important;
}



#boton{
    background-color: rgb(68, 4, 105);
    border-color:rgb(68, 4, 105);
}

#boton:hover {
  background: white;
  color: rgb(68, 4, 105) !important;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
   
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}
#snackbar.Ganador {
    background-color: #059F2F;
}
#snackbar.Perdedor {
    background-color: #FF0000;
}
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

